* { 
    box-sizing: border-box; 
} 

main {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid yellow 2px;
    margin-left: 20%;
    margin-right:20%
}

h1 {
    color: white;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    width: 416px;
    height: 610px;
    padding-top: 10px;
}

.child {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 700px;
}

p {
    color: white;
}

/* right and left arrows
https://www.w3schools.com/howto/howto_css_shapes.asp */

.triangle-left {
	width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-right: 25px solid #555;
	border-bottom: 15px solid transparent;
}
.triangle-right {
	width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-left: 25px solid #555;
	border-bottom: 15px solid transparent;
}

@media only screen and (max-width: 600px) {
    main {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: solid yellow 2px;
       
    } 

    .child {
        display: flex;
        align-items: center;
        justify-content: center;
        width: auto;
    }
}




